h1{
     background-color:white;
     text-align:center;
     padding: 0px 0px 20px 0px;
     margin: 0px;
}
body{
    margin:1cm 3cm;
}
h6{ 
    background-color:#97CBFF;
    margin: 1cm 5cm 0cm 5cm;
    padding:0px 0px 0px 10px;
    border-style:solid;
}
#link{
    font-size:19px;
    background-color:#97cbff48 ;
    margin: 0cm 5cm 0cm 5cm;
    padding:5px 0px 0px 30px;
    border-style:solid;
    border-top:none
}
#link a{
    color:inherit;
    text-decoration:none;
} 
#link :hover{
    border-style:ins;
    background-color:#97CBFF;
	color:white;
    padding:10px;
}
section{
    margin:5cm 2cm 5cm 2cm;
}
nav a {
	color:inherit;
	text-decoration:none;
	font-size:1.3rem;
	display:block;
	padding:10px;
}
nav > ul {
	list-style:none;
	background-color:#dde9f4;
	margin:0;
	padding:0;
	display: flex;
}
nav a:hover {
	background-color:#97CBFF;
	color:white;
}
inline-block-nav > li {
	display:inline-block;
}
nav > ul {
	justify-content: space-around;
}
header a{
    color:inherit;
    text-decoration:none;
} 
header :hover{
    border-style:ins;
	color:black;
    padding:10px;
}