
body{
	margin: 1cm 3cm;
}
h1{
	background-color:white;
	text-align:center;
	padding: 0px 0px 20px 0px;
	margin: 0cm;
}
#section1 h3,#section2 h3{
	width:4cm;
	border-style:dashed;
	border-width:3px;
	border-color:#c55c5c;
	padding:0.2em;
}
#section3 h3,#section4 h3{
	width:12%;
	border-style:dashed;
	border-width:3px;
	border-color:#c55c5c;
	padding:0.2em;
}
p{
	background-color:#ebd8d86a ;
}
nav a {
	color:inherit;
	text-decoration:none;
	font-size:1.3rem;
	display:block;
	padding:10px;
}
nav > ul {
	list-style:none;
	background-color:#ead5d5;
	margin:0;
	padding:0;
	display: flex;
}
nav a:hover {
	background-color:#b45050;
	color:white;
}
inline-block-nav > li {
	display:inline-block;
}
nav > ul {
	justify-content: space-around;
}
header a{
    color:inherit;
    text-decoration:none;
} 
header :hover{
    border-style:ins;
	color:black;
    padding:10px;
}